<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116488246095-kgqvupc3bu064nfbubsirc4ss9mg4spc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116488246095-kgqvupc3bu064nfbubsirc4ss9mg4spc</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bS8S2n2r9VirFqUQJDbgYdqiyfDd3JY</string>
	<key>GCM_SENDER_ID</key>
	<string>116488246095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gearshare.rent</string>
	<key>PROJECT_ID</key>
	<string>gearshare-3c90a</string>
	<key>STORAGE_BUCKET</key>
	<string>gearshare-3c90a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116488246095:ios:7cee7c49d27cd4ce9e6b3a</string>
	<key>DATABASE_URL</key>
	<string>https://gearshare-3c90a-default-rtdb.firebaseio.com</string>
</dict>
</plist>